/* VitePress Green Theme */
:root {
  --vp-c-brand-1: #10b981;
  --vp-c-brand-2: #059669;
  --vp-c-brand-3: #047857;
  --vp-c-brand-soft: #10b98120;
  
  --vp-c-brand-light: #34d399;
  --vp-c-brand-lighter: #6ee7b7;
  --vp-c-brand-dark: #047857;
  --vp-c-brand-darker: #065f46;
  
  --vp-c-brand-next: #22d3ee;
}

.dark {
  --vp-c-brand-1: #22d3ee;
  --vp-c-brand-2: #06b6d4;
  --vp-c-brand-3: #0891b2;
  --vp-c-brand-soft: #22d3ee20;
  
  --vp-c-brand-light: #67e8f9;
  --vp-c-brand-lighter: #a5f3fc;
  --vp-c-brand-dark: #0891b2;
  --vp-c-brand-darker: #0e7490;
}
